*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
@media only screen and (max-width:767px){
  hr{
    width:360px;
   background-color: white;
  }
    /*Accordortion css*/
    .accordion {
      background-color:transparent;
      color: #f3f3f3;
      cursor: pointer;
      padding: 5px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
      border-radius: 5px 5px 0px 0px;
    }
    
    .active, .accordion:hover {
      background-color: #ccc;
      color: black;
    }
    
    .accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }
    
    .active:after {
      content: "\2212";
    }
    
    .panel {
      width: 100%;
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    .nav-link:hover{
      background-color: #ccc;
    }
    .nav-link{
      color: rgb(250, 250, 250);
    }
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  .navicon{
    background-color: rgb(43, 43, 43);
    padding: 5px;
}
.navbar{
  width: 100%;
}
}
@media only screen and  (min-width:1024px) and (max-width:1439px){
    .navicon{
        background-color: rgb(43, 43, 43);
        width: 21%;
    }
    .display{
        background-color: rgb(37, 37, 37);
        width: 79%;
      padding: 13px;
    }
    .display_container{
      background-color: #fafafa;
      border: 10px;
    }
    .nave{
        margin-top: -290px;
        position: fixed;
    }
    /*adjust them*/
    .navicon, .display{
      display: flex;
    float: left;
    height: 646px;
    }
    .color{
        color:white;
        text-decoration: none;
        padding: 8px;
        margin-top: 10px;
    }
        li{
        text-decoration: none;
    }
    /*Accordortion css*/
    .accordion {
      background-color: rgb(43, 43, 43);
        color: #f3f3f3;
        cursor: pointer;
        padding: 5px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        border-radius: 5px 5px 0px 0px;
      }
      
     .accordion:hover {
        background-color: #ffffff;
      }
      .active{
        background-color: rgb(68, 67, 67);
      }
      /* this is + - accodortion*/
      .accordion:after {
        content: '\002B';
        color: #fafafa;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .panel {
        width: 100%;
        padding: 0px 18px;
        background-color: rgb(68, 67, 67);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        color: white;
      }

      hr{
        width:240px;
       background-color: white;
      }
      .nav-link:hover{
        background-color: #6d6d6d;
        color: rgb(0, 0, 0);
      }
 

}
@media only screen and (min-width:1440px){
  .navicon{
    background-color: rgb(43, 43, 43);
    padding: 5px;
    width: 15%;
}
.nave{
    margin-top: -290px;
    position: fixed;
}
/*adjust them*/
.navicon, .display{
  display: flex;
float: left;
height: 959px;
}
.color{
    color:white;
    text-decoration: none;
    padding: 8px;
    margin-top: 10px;
}
    li{
    text-decoration: none;
}
/*Accordortion css*/
.accordion {
  background-color: rgb(43, 43, 43);
    color: #f3f3f3;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 5px 5px 0px 0px;
  }
  
 .accordion:hover {
    background-color: #ffffff;
  }
  .active{
    background-color: rgb(68, 67, 67);
  }
  /* this is + - accodortion*/
  .accordion:after {
    content: '\002B';
    color: #fafafa;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    width: 100%;
    padding: 0px 18px;
    background-color: rgb(68, 67, 67);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    color: white;
  }

  hr{
    width:240px;
   background-color: white;
  }
  .nav-link:hover{
    background-color: #6d6d6d;
    color: rgb(0, 0, 0);
  }
  
  .display{
    background-color: rgb(160, 151, 151);
    width: 85%;
    padding:10px;
}
}
